
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @testimonials.each_with_index do |testimonial, index| %>
      <div class="item <% if index == 0 %> active <% end %>">
        <%= link_to (image_fu testimonial.photo, nil), refinery.testimonials_testimonial_path(testimonial) %>
        <div class ="slider-caption"><h4><%= raw testimonial.title %></h4></div>
      </div>
      <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
