<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>

	<script>
		$(function(){
			$('#slides').slides({
				preload: true,
				generateNextPrev: true
			});
		});
	</script>

<div id="slides">
  <div class="slides_container">
    <% @testimonials.each do |testimonial| %>
      <div>
	    <div id ="main_img_container">
              <%= link_to (image_fu testimonial.photo, nil), refinery.testimonials_testimonial_path(testimonial) %>
	    </div>
	<p class ="main_title"><%= raw testimonial.title %></p>
      </div>
    <% end %>
  </div>
</div>
