<div id="menu_title">
  <h1>Ritchie Hewett</h1>
  <h4>simply... meaningful</h4>
</div>
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
