$bodyBackground: #FFFEF8;
$brown: #3A2A0B;

$serif: "jubilat", serif;
$sansSerif: "museo-sans", sans-serif;

$testiIndexImageWidth: 48%; // based on bootstrap's span6 width in fluid rows
$testiIndexImageHeight: 100%; 



/*Bootstrap Overrides */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
  width: 960px;
}
body {
  background: $bodyBackground;
  font-family: $serif;
  font-size: 16px;
  line-height: 16px;
  }
  
/* Typography */
h1 {
  font-family: $sansSerif;
  font-size: 6.4em;
  line-height: 1.0em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center; 
  color: $brown;
}
h2 {
  font-family: $serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.8em;
  line-height: 2.0em;
  text-align: center;
}
p {
  font-family: $serif;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 200;
}
/* Head view */
.main_contain{
  background:white;
  margin-left:auto;
  margin-right:auto;
}
.title_div{
  text-align:center;
  padding:1px;
}

#page_loading {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  margin-left: -30px;
  background-image: url("/assets/loading.gif");
  display: none;
}
#mask {
  position: absolute; 
  height: 100%;
  background-color:$bodyBackground; 
  z-index:99;
  display: block;
}
/* Menu */

#menu_bot {
  text-align:center;
}
ul#navlist {
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  padding: 10px 0;
  margin-left: 0;
  li {
    display: inline;
    padding-right: 40px;
    font-size: 18px;
    font-family: "jubilat", serif;
    font-weight: 200;
    &.last {
      padding-right: 0;
    }
    a {
      padding: 9px 15px;
      color: $brown;
      &:hover {
        border-left: 1px dotted $brown;
        border-right: 1px dotted $brown;
        padding: 9px 14px; /* lower padding to make room for border */
        text-decoration: none;
      }
    }
  }
  li.selected a {
    color: $bodyBackground;
    background-color: $brown;
  }
}

/* Main view */
.main_title{
  font-size:40px;
  line-height:125%;
  font-family: Helvetica;
  position:absolute;
  top:450px;
}
/* Home Page */

#myCarousel {
  height: auto;
  width: 105%;
  left: -2.5%;
  .carousel-inner { 
    text-align: center;
    img {
      height:auto;
      min-height: 300px;
      max-height: 490px;
      width:auto;
    }
    .slider-caption h4 {
      color: black;
      font-family: $serif;
      font-size: 1.2em;
      font-style: italic;
      font-weight: 200;
      text-align: left;
      margin-left: 5%;
    }
  }
}
.carousel-control {
  &.right {
    right: -55px;
  }
  &.left {
    left: -55px;
  }
}
.home-text {
  width: 75%;
  h2 {
    text-align: left;
  }
}
/* Testimonials */
#testimonials {
}
.testi_pagination {
  background: white;
  display: block;
  text-align:center;}
  .testi_pagination a, .testi_pagination span, .testi_pagination em {
    margin-right: 5px; }
  .testi_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .testi_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #acacac;
    display: inline-block;
    color: black;
    border: 1px solid #e6e6e6; }
  .testi_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .testi_pagination a:hover, .testi_pagination a:focus {
      color: #000033;
      border-color: #000033; }	

.testi_list_header{
  font-size:25px;
  font-family:Helvetica;
  line-height:10px;
}
.testi_list_container{
  padding-top: 50px;
  height: 100%;
}
.testi_list_img_container{
  text-align:center;
  img {
    max-width: $testiIndexImageWidth;
    height: $testiIndexImageHeight;
  }
}
.testi_list_txt_container{
  font-style:Arial;
  width:360px;
  float:right;
  padding:5px;
}

ul#other_testimonials {
  margin-left: 0;
  li {
    list-style-type: none;
    display: inline;
    padding:20px;
    &:first-child {
      padding-left: 0;
    }
  }
}

#testimonials img{
  max-height:250px;
  max-width:375px;
  height:auto;
  width:auto;  
}

/* Testimonial */
#testi_title{
  font-family: Helvetica;
  font-size:40px;
  text-align: center;
  padding-bottom: 20px;
}

#testi_img{
  text-align: center;
}
#testi_img img{

  max-height:400px;
  max-width:900px;
  height:auto;
  width:auto;
}
#testi_descrip {
  padding-top: 20px;
}
.next-prev {
  .next {
    float: right;
  }
  .previous {
    float: left;
  }
}

/* Footer */

footer {
  width: 100%;
  text-align: center;
  p {
  margin: auto;
  padding-bottom: 10px;
  }
}

.footer-logo {
  text-align: center;
  margin: auto;
}

/************************************/
#body_content, #side_body_content {
  margin-left:auto;
  margin-right:auto;
  color: #333;
  padding: 20px;
}

/* Responsive stuff */
/* Landscape phone to portrait tablet */
@media (max-width: 979px) { 
 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
   width: 724px;
 }
 h1 {
   font-size: 5.0em;
 }
}
@media (max-width: 767px) { 
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
     width: 100%;
   }
   ul#navlist {
     margin-left: 0;
     li {
       padding-right: 10px;
     }
   }
   h1 {
     font-size: 3.3em;
   }
   #myCarousel .carousel-inner { 
     height:380px;
  }
  .carousel-control {
    &.right, &.left {
      display: none;
    }
  }
  .home-text {
    width: 100%;
  }
    
}
@media (max-width: 480px) { 
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
     width: 100%;
   }
   h1 {
     font-size: 2.5em;
   }
   h2 {
     font-size: 1.4em;
   }
  ul#navlist {
    li {
      display: block;
      padding: 0;
      a {
        display: inline-block;
        width: 100%;
        padding: 10px 0;
        &:hover {
         padding: 8px 0;
         border: 1px dotted $brown;
         width: 99%;
        }
      }
    }
  }
}
