body {
  background: #FFFEF8;
}
h1 {
  font-family: "museo-sans";
  font-size: 6.4em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  
}
p {
  font-family: "jubilat";
  font-size: 1.4em;
  font-style: italic;
  font-weight: 200;
  margin: 100px 0 10px;
  text-align: center;
}
footer {
  width: 100%;
  p {
  margin: auto;
  padding-bottom: 10px;
  }
}

.footer-logo {
  text-align: center;
  margin: auto;
}
#page {
    min-height: 350px;
}